body {
  background: #23acf4;
  font-family: 'Roboto', sans-serif;
}
container {
  background: #ffffff;
  width: 80%;
  height: auto;
  margin: 10% auto auto 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
container nav {
  padding: 10px 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
container nav a {
  text-decoration: none;
  color: darkgray;
}
container nav a:hover {
  color: #98dafd;
}
container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
container form h1 {
  border-top: 2px solid black;
  text-decoration: underline;
  padding-top: 5px;
  text-align: center;
}
container form .text {
  margin: 20px auto 20px auto;
}
container form textarea {
  margin: 20px auto 20px auto;
}
container form .submit {
  width: 200px;
  background: gold;
  border: 3px solid blue;
  border-radius: 40%;
  padding: 10px 0 10px 0;
  margin: 20px auto 20px auto;
}
