body {
  background: #23acf4;
  font-family: 'Roboto', sans-serif;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -100px;
  background: #98dafd;
  width: 300px;
  height: 200px;
  animation-name: banner;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  z-index: 999;
}
.banner h1 {
  border-top: 1px solid #f0f0f0;
  color: #f0f0f0;
}
.line {
  position: absolute;
  width: 100px;
  height: 30%;
  bottom: 0px;
  left: 50%;
  border-left: solid 6px black;
  animation-name: banner;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-fill-mode: forwards;
  z-index: 999;
}
container {
  background: #ffffff;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10% auto auto 10%;
  opacity: 0;
  animation-name: content;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
container nav {
  padding: 10px 0;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation-name: content;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index: 500;
}
container nav a {
  text-decoration: none;
  color: darkgray;
}
container nav a:hover {
  color: #98dafd;
}
container h3 {
  border-top: 2px solid black;
  text-decoration: underline;
  padding-top: 5px;
  text-align: center;
}
container .screenshots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
container button {
  opacity: 0;
  animation-name: content;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index: 500;
  width: 200px;
  background: gold;
  border: 3px solid blue;
  border-radius: 40%;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
container figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 250px;
  height: auto;
  animation-name: content;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  z-index: 500;
}
container figure img {
  width: 250px;
}
@keyframes banner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
